* {
	font-family:"Avenir";
	font-size:20px;
}

.heads {
	padding:7px;
	margin:7px;
}

header {
	font-size:150px;
	color:green;
}

p {
	padding-left:15px;
	padding-top:7px;
	padding-bottom:7px;

}

.home {
	margin-left:15px;
	margin-top:20px;
	margin-bottom:-20px;
	padding:0px;
}

.nonhome {
	margin-left:15px;
	margin-top:20px;
	margin-bottom:-10px;
}

a {
	transition: all 0.5s ease;
	transition: all 0.5s ease-out;
}

a:link, a:visited {
	color:black;
}

a:hover, a:active {
  color: green;
}
